// Layout ////////////////////////////////////////
$gutter-mobile: 20px;
$gutter-desktop: 40px;

// Images Path
$images-path: '../images/';


// Colors ////////////////////////////////////////  - http://www.color-blindness.com/color-name-hue/

// globals
$white: #fff;
$black: #000;
$nero: #212121; // main text color

// grays
$empress: #767676;
$gainsboro: #DDD;
$silver: #B5B5B5;
$white-smoke: #EFEFEF;
$very-light-grey: #ddd;

// blues
$alice-blue: #EEF7FE;
$denim: #0B72BC; // main link color
$maya-blue: #6ABFFB;
$prussian-blue: #003F72; // dark link color / hover

// brown & yellows
$bianca: #F8F1E8;
$martini: #BCAAA4;
$pale-oyster: #9B8E69;
$vista-white: #E5E0D9;

// transparents
$black-transparent: rgba($black, 0.50);

// Font Stacks
$georgia: Georgia, "Times New Roman", Times, serif;
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;


// Breakpoints ////////////////////////////////////

// Minimum Width Breakpoints
$mobile: 'screen and (max-width: 639px)';
$mobile-plus: 'screen and (max-width: 767px)';
$tablet: 'screen and (min-width: 640px)';
$ipad: 'screen and (min-width: 768px)';
$desktop: 'screen and (min-width: 960px)';

// Maximum Width Breakpoints
$tablet-max: 'screen and (max-width: 959px)';

// Min/Max Width Breakpoints
$tablet-only: 'screen and (min-width: 640px) and (max-width: 959px)';





// Transitions ////////////////////////////////////

// Durations
$transition-duration-default: 250ms;
$transition-duration-fast: 150ms;

// Timing
$transition-easing-default: ease-in-out;

