/*  Remove List Styles
*
*   No Params
*
*   Example Usage:
*
*     ul {
*       @include no-bullet;
*     }
*
*/
@mixin no-bullet {
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    list-style: none;
    @include padding(0 0 null 0);
    @include margin(0 0 null 0);
  }

}

@mixin add-bullet {
  list-style: disc outside none;
  margin: rem(24) rem(30) rem(30) rem(40);

  > li {
    @include margin(rem(15) null);

    @include mq($tablet) {
      @include margin(rem(20) null);
    }

  }// >li

}

@mixin fat-bullets($color: $silver) {
  @include no-bullet;

  > li {
    position: relative;

    &::before {
      position: absolute;
      top: 9px;
      left: 0;
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      background-color: $color;

      .patients & {
        background-color: $martini;
      }//&.patient

    }

    a {
      display: inline-block !important;
      padding-left: 28px;
    }

  }//> li

}//@fat-bullets
