.accordion-menu {
  @include clearfix;
  margin-bottom: $gutter-mobile;

  @include mq($tablet) {
    margin-bottom: $gutter-desktop;
  }

  // base inside of #content-main
  #content-main & {

    // hide title
    h2 {
      @include visually-hidden;
    }

    > ul {
      @include no-bullet;
      @include clearfix;
      clear: both;

      > li {
        position: relative;
        margin-bottom: rem(10);

        &::before {
          display: none;
        }

        > h3 {
          display: flex !important;
          overflow: hidden;
          align-items: center;
          height: 64px;
          width: 100%;
          margin: 0;
          padding: 0 rem(11) 0 0;
          font-family: $georgia;
          @include font(18, 20);
          background: $alice-blue;

          @include mq($tablet) {
            @include font(24, 64);
          }

          > a,
          > span {
            display: block;
            color: $prussian-blue;
            text-decoration: none;
            margin-left: 70px;
            width: 100%;
            background-color: $alice-blue;

            @include mq($tablet) {
              margin-left: 75px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

          } //a

          > a {

            @include mq($tablet) {
              padding-right: rem(50);
              background: $alice-blue url($images-path + 'icon-arrow-button.svg') no-repeat right center;

              @include hover {
                background-image: url($images-path + 'icon-arrow-button-hover.svg');
              }

            }

          }//> a

          > span {
            color: $nero;
          }

        }// > h3

        > button {
          @include remove-button-styles;
          @include hide-text;
          display: block;
          position: absolute;
          top: 10px;
          left: 11px;
          z-index: 1;
          width: 44px;
          height: 44px;
          border-radius: 8px;
          background: rgba($black, 0.10) url($images-path + 'icon-plus.svg') no-repeat center center;

          &.active {
            background-image: url($images-path + 'icon-minus.svg');
          }

          @include hover {
            background-color: rgba($black, 0.075);
          }

          // NO JS, open menu with focus of button
          html:not(.js-enabled) &:focus {
            background: red;

            ~ .submenu {
              display: block;
            }

          }

        }

        &.patients {

          > h3,
          > h3 > a {
            background-color: $bianca;
          }

          .submenu {

            > ul {
              @include fat-bullets($martini);
            }

          }

        }//&.patients

        // submenu
        .submenu {
          display: none;
          padding: rem(20) rem(12) rem(12) rem(12);

          @include mq($tablet) {
            padding: rem(30) rem(40) rem(20) rem(45);
          }

          > ul {
            @include fat-bullets;

            @include mq($tablet) {
              columns: 2;
              width: 100%;
            }

            > li {

              @include mq($tablet) {
                overflow: hidden;
                @include font(18, 24);
                margin-bottom: rem(22);
              }

            }// > li

          }// > ul

        }//.submenu

        // if no submenu
        &.no-submenu {

          > h3 > a {
            margin-left: 20px;
          }

          > button {
            display: none;
          }

        }//&.no-submenu

      }// > li

    }// > ul

  }//#content-main &

}//.accordion-menu
