  .accordion-menu {
    @include clearfix;
    margin-bottom: rem(20);

    @include mq($tablet) {
      margin-bottom: rem(40);
    }

    // base inside of #content-main
    #content-main & {

    .expand-all {
      @include remove-button-styles;
      float: right;
      margin: 0 rem(11) rem(16);
      @include font(16, 16);
      font-weight: bold;
    }

    nav {
      clear: both;

      // hide title
      h2 {
        @include visually-hidden;
      }

      > ul {
        @include no-bullet;
        @include clearfix;

        > li {
          position: relative;
          margin-bottom: rem(10);

          &::before {
            display: none;
          }

          > a {
            display: flex !important;
            align-items: center;
            height: 64px;
            width: 100%;
            padding-left: 70px;
            font-family: $georgia;
            @include font(20, 22);
            color: $prussian-blue;
            text-decoration: none;
            background: $alice-blue url(../images/icon-arrow-button.svg) no-repeat right 11px center;

            @include mq($mobile) {
              background-image: none;
            }

            @include mq($tablet) {
              display: block !important;
              padding-left: 75px;
              @include font(24, 64);
            }

          }

          > button {
            @include remove-button-styles;
            @include hide-text;
            position: absolute;
            top: 10px;
            left: 11px;
            z-index: 1;
            width: 44px;
            height: 44px;
            border-radius: 8px;
            background: rgba($black, 0.10) url(../images/icon-plus.svg) no-repeat center center;
          }

          &.patients {

            > a {
              background-color: $bianca;
            }

            > ul {
              @include fat-bullets($martini);
            }

          }//&.patients

          // submenu
          > ul {
            display: none;
            @include fat-bullets;
            padding: rem(20) rem(12) rem(12) rem(12) !important;

            @include mq($tablet) {
              columns: 2;
              column-width: 200px;
              width: 637px;
              padding: rem(30) rem(40) rem(20) rem(45) !important;
            }

            > li {

              @include mq($tablet) {
                @include font(18, 24);
                margin-bottom: rem(22);
              }

            }// > li

          }// > ul

        }// > li

      }// > ul



    }//nav

  }//#content-main &

}//.accordion
