.accordion-menu {
  @include clearfix;
  margin-bottom: rem(20);

  @include mq($tablet) {
    margin-bottom: rem(40);
  }

  // base inside of #content-main
  #content-main & {

    .expand-all {
      @include remove-button-styles;
      float: right;
      margin: 0 0 rem(16);
      @include font(14, 14);
      font-weight: bold;

      @include mq($tablet) {
        @include font(16);
      }

      span {
        @include font(20);
      }

    }//.expand-all

    // hide title
    h2 {
      @include visually-hidden;
    }

    > ul {
      @include no-bullet;
      @include clearfix;
      clear: both;

      > li {
        position: relative;
        margin-bottom: rem(10);

        &::before {
          display: none;
        }

        > a {
          display: flex !important;
          align-items: center;
          height: 64px;
          width: 100%;
          padding-left: 70px;
          color: $prussian-blue;
          text-decoration: none;
          background: $alice-blue url($images-path + 'icon-arrow-button.svg') no-repeat right 11px center;

          @include mq($mobile) {
            background-image: none;
          }

          @include mq($tablet) {
            display: block !important;
            padding-left: 75px;
          }

          @include hover {
            background-image: url($images-path + 'icon-arrow-button-hover.svg');
          }

          h3 {
            margin: 0;
            padding: 0;
            font-family: $georgia;
            color: $prussian-blue;
            @include font(20, 22);

            @include mq($tablet) {
              @include font(24, 64);
            }

          }

        }

        > button {
          display: none;
        }

        > button {
          @include remove-button-styles;
          @include hide-text;
          display: block;
          position: absolute;
          top: 10px;
          left: 11px;
          z-index: 1;
          width: 44px;
          height: 44px;
          border-radius: 8px;
          background: rgba($black, 0.10) url($images-path + 'icon-plus.svg') no-repeat center center;

          &.active {
            background-image: url($images-path + 'icon-minus.svg');
          }

          @include hover {
            background-color: rgba($black, 0.075);
          }

          // NO JS, open menu with focus of button
          html:not(.js-enabled) &:focus {
            background: red;

            ~ .submenu {
              display: block;
            }

          }

        }

        &.patients {

          > a {
            background-color: $bianca;
          }

          .submenu {

            > ul {
              @include fat-bullets($martini);
            }

          }

        }//&.patients

        // submenu
        .submenu {
          display: none;
          padding: rem(20) rem(12) rem(12) rem(12);

          @include mq($tablet) {
            padding: rem(30) rem(40) rem(20) rem(45);
          }

          > ul {
            @include fat-bullets;

            @include mq($tablet) {
              columns: 2;
              width: 100%;
            }

            > li {

              @include mq($tablet) {
                @include font(18, 24);
                margin-bottom: rem(22);
              }

            }// > li

          }// > ul

        }//.submenu

        // if no submenu
        &.no-submenu {

          > a {
            padding-left: 20px;
          }

          > button {
            display: none;
          }

        }//&.no-submenu

      }// > li

    }// > ul

  }//#content-main &

}//.accordion-menu
