#content-main {

  .related-column {

    .contentsbox {
      width: 100%;
      margin: 0 0 rem(14) 0;
      float: none;
      border: 0;
      background: none;

      h3 {
        @include visually-hidden;
      }

      .contentsboxcontent {
        width: 100%;
        margin: 0;

        // title
        > a {
          display: inline-block;
          @include font(14);
          font-weight: bold;
          text-decoration: none;
        }

      }

      ul {
        list-style: none;
        padding-left: 0;
        margin-top: rem(16) !important;
        list-style-image: none !important;

        @include mq($tablet) {
          margin-top: rem(16) !important;
        }

        li {
          position: relative;
          @include font(14);
          margin-bottom: rem(8);

          a {
            display: block;
            text-decoration: none;

            &.homeitemself {
              color: $nero;
              font-weight: bold;
            }

          }//a

          &.expandmenu {
            position: relative;

            &::after {
              content: '';
              position: absolute;
              top: 6px;
              left: 0;
              @include chevron($size: 8px, $thickness: 2px, $color: $denim, $direction: right);
            }//::after

            > a {
              padding-left: rem(16) !important;
            }

          }

          &.homeitem-parent {

            &::after {
              border-color: $nero;
            }

          }

          &.homeitem-parents {

            &::after {
              top: 4px;
              transform: rotate(225deg);
            }

          }

          //nested subitems
          .subitems {
            margin-left: 0;
            padding-left: rem(16);
          }

        }//li

      }//ul

    }//contentsbox

  }//.related-column

} //#content-main
