.faq-menu {
  @include clearfix;
  margin-bottom: rem(30);

  @include mq($tablet) {
    margin-bottom: rem(50);
  }

  // base inside of #content-main
  #content-main & {

    // hide title
    h2 {
      @extend %header-caps;
      margin: 0;
      float: left;
    }

    > ul {
      @include no-bullet;
      @include clearfix;
      clear: both;

      > li {
        position: relative;
        margin-bottom: rem(10);

        &::before {
          display: none;
        }

        > button {
          @include remove-button-styles;
          display: inline-block;
          overflow: hidden;
          align-items: center;
          width: 100%;
          margin: 0;
          padding: rem(12) rem(18) rem(12) rem(57);
          font-family: $georgia;
          @include font(18, 20);
          background: $alice-blue url($images-path + 'icon-plus.svg') no-repeat 20px center;

          @include mq($tablet) {
            @include font(24, 30);
          }

          &.active {
            background-image: url($images-path + 'icon-minus.svg');
          }

          // NO JS, open menu with focus of button
          html:not(.js-enabled) &:focus {
            background: red;

            ~ .answer {
              display: block;
            }

          }

          h3 {
            margin: 0;
            padding: 0;
            display: inline-block;
          }

        }// > button

        // answer
        .answer {
          display: none;
          padding: rem(20) rem(12) rem(12) rem(12);

          @include mq($tablet) {
            padding: rem(30) rem(40) rem(20) rem(57);
          }

        }//.a

      }// > li

    }// > ul

  }//#content-main &

}//.faq-menu
