.hero {
  margin-bottom: rem(20);

  @include mq($tablet) {
    margin-bottom: rem(40);
  }

  // base inside of #content-main
  #content-main & {

    header {
      position: relative;
      height: 254px;
      padding: $gutter-mobile;
      background: url($images-path + 'hero/moustache.jpg') center center no-repeat;
      background-size: cover;
      margin: 0 (-$gutter-mobile);

      @include mq($tablet) {
        margin: 0 (-$gutter-desktop);
        padding: rem(34) $gutter-desktop;
      }

      @include mq($desktop) {
        width: 100%;
        margin: 0;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($prussian-blue, 0.60);
      }

      &.basics {
        background-image: url($images-path + 'hero/basics.jpg');
      }


      &.ald {
        background-image: url($images-path + 'hero/alcohol.jpg');
      }

      &.cirrhosis {
        background-image: url($images-path + 'hero/doctor-cirrhosis.jpg');
      }

      &.hep-a {
        background-image: url($images-path + 'hero/doctor-woman.jpg');
        h1 {
          line-height: 1.1;
        }
      }//&.hep-a

      &.hep-b {
        background-image: url($images-path + 'hero/doctor-man.jpg');
        h1 {
          line-height: 1.1;
        }
      }

      &.hep-c {
        background-image: url($images-path + 'hero/moustache.jpg');
        h1 {
          line-height: 1.1;
        }
      }

      &.cancer {
        background-image: url($images-path + 'hero/doctor-patient.jpg');
      }

      &.transplant {
        background-image: url($images-path + 'hero/doctor-transplant.jpg');
      }

      &.nafl {
        background-image: url($images-path + 'hero/doctor-patient-2.jpg');
      }

      h1 {
        line-height: 1;
        position: relative;
        z-index: 1;
        color: $white;

        span {
          color: $white;

          .patients & {
            color: $vista-white;
          }

        }

      }//h1

      p {
        position: absolute;
        z-index: 1;
        width: 90%;
        bottom: $gutter-mobile;
        color: $white;

        @include mq($tablet) {
          width: 50%;
        }

        a {
          color: $white;
        }

      }

    }//header

    footer {
      background: $white-smoke;
      margin: 0 (-$gutter-mobile);
      padding: rem(30) $gutter-mobile;

      .patients & {
        background: $bianca;
      }

      @include mq($tablet) {
        margin: 0 (-$gutter-desktop);
        padding: rem(30) $gutter-desktop rem(36);
      }

      @include mq($desktop) {
        width: 100%;
        margin: 0;
      }

      nav {
        margin: 0;

        h2 {
          @include visually-hidden;
        }

        ul {
          @include no-bullet;

          > li {
            margin-bottom: rem(26);
          }

          h3 {
            margin: 0 0 rem(4);
          }

        }//ul

      }//nav

    }//footer

  }//#content-main &

}//.hero
