// Site specific listing mixins
.listing,
.toc {
  margin: rem(24) 0;
  @include clearfix;
  border: 0;

  @include mq($tablet) {
    margin: rem(28) 0;
  }

  ~ .listing {
    @include spacing;
  }

  // base inside of #content-main
  #content-main .content-column & {

    h2,
    h3 {
      @extend %header-caps;
      color: $nero;
    }

    p {

      @include mq($tablet) {
        width: 50%;
      }

    }

    ul {
      @include fat-bullets;

      > li {
        @include margin(0 null rem(12));
        padding-bottom: 0 !important;

        @include mq($tablet) {
          @include margin(0 null rem(16));
        }

      }//li

      &.cols-2 {

        @include mq($tablet) {
          columns: 2;

          > li {
            overflow: hidden;
          }

        }

      }//&.cols-2

      &.cols-3 {

        @include mq($tablet) {
          columns: 3;

          > li {
            overflow: hidden;
          }

        }

      }//&.cols-3

    }// ul

  }//#content-main &

}//.listing
