// Site specific listing mixins
.listing,
.toc {
  @include spacing;
  @include clearfix;
  border: 0;

  // base inside of #content-main
  #content-main .content-column & {

    h2,
    h3 {
      @extend %header-caps;
      color: $nero;
    }

    p {

      @include mq($tablet) {
        width: 50%;
      }

    }

    ul {
      @include fat-bullets;

      > li {
        @include margin(rem(12) null);
        padding-bottom: 0 !important;

        @include mq($tablet) {
          @include margin(rem(16) null);
        }

      }//li

      &.cols-2 {

        @include mq($tablet) {
          columns: 2;

          > li {
            display: inline-block;
          }

        }

      }//&.cols-2

      &.cols-3 {

        @include mq($tablet) {
          columns: 3;

          > li {
            display: inline-block;
          }

        }

      }//&.cols-3

    }// ul

  }//#content-main &

}//.listing
