// Site specific listing mixins
.listing {
  @include spacing;

  // base inside of #content-main
  #content-main & {

    h2 {
      @extend %header-caps;
    }

    p {

      @include mq($tablet) {
        width: 50%;
      }

    }

    ul {
      @include fat-bullets;

      &.cols-2 {

        @include mq($tablet) {
          columns: 2;

          > li {
            display: inline-block;
          }

        }

      }//&.cols-2

      &.cols-3 {

        @include mq($tablet) {
          columns: 3;

          > li {
            display: inline-block;
          }

        }

      }//&.cols-3

    }// ul

  }//#content-main &

}//.listing
