.toolbox {
  @include margin(rem(30) 0 rem(20));
  padding: rem(10);
  border: 0;

  @include mq($tablet) {
    margin-bottom: rem(40);
  }

  ~ .toolbox {
    @include spacing;
  }


  // base inside of #content-main
  #content-main & {

    > ul {

      > li {
        @include font(14);

        a {
          text-decoration: none;
        }

        a[href$="single-page.asp"] {
          display: inline-block;
          margin-left: 24px;
          text-indent: -24px;
        }

      }//> li

    }// > ul

  }//#content-main &

}//.toolbox
