.toolbox {
  margin: rem(14) 0;
  padding: rem(10);
  border: 0;

  // base inside of #content-main
  #content-main & {

    > ul {

      > li {
        @include font(14);

        a {
          text-decoration: none;
        }

      }//> li

    }// > ul

  }//#content-main &

}//.toolbox
