#container,
#container1 {
  background-image: none !important;  //override background of sidebar
  padding-bottom: 0;
}

#tier4innerContent {
  float: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: initial;
  position: relative;
}

/* REMOVING PAGE TITLE */
h2.page-title {
	display: none;
}

#content-main {

  .ptheader {
    display: none;
  }

  // wide column
  .content-full {

    &#main-content-column {
      padding: 0 $gutter-mobile;

      @include mq($tablet) {
        padding: 0 $gutter-desktop;
      }
    }

  }

  .content-rightcol {

    @include mq($tablet) {
      display: flex;
      display: grid;
      -ms-grid-columns: 1fr 220px;
      grid-template-columns: 1fr auto;
    }

  }

  .content-column {
    padding: 0;
    margin-bottom: rem(40);
    width: 100%;

    @include mq($tablet) {
      width: auto;
      margin-bottom: 0;
      grid-column: 1;
    }

    &#main-content-column {
      padding: 0 $gutter-mobile;

      @include mq($tablet) {
        padding: 0 $gutter-desktop;
      }
    }

  }

  ////////// sidebar ///////////

  .related-column {
    background: $white-smoke;
    padding-top: rem(20);

    @include mq($mobile) {
      min-height: auto;
    }

    @include mq($tablet) {
      padding: rem(20) rem(14) rem(40);
      grid-column: 2;
      width: auto;
      max-width: 220px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        background: $white-smoke;
        width: 220px;
        height: 200px;
      }

    }

    ul {
      padding: 0;
    }

    .patients & {
      background: $bianca;

      &::after {
        background: $bianca;
      }
    }

    // hide search
    .searchbox {
      display: none;
    }

    // hide browse
    .browse {
      display: none;
    }

  }//.related-column

  .intro {
    margin: rem(20) 0;
  }

}//#content-main

.top_link {
  padding-left: $gutter-mobile;
  @include font(15);
  margin-top: rem(20);

  @include mq($tablet) {
    margin-top: rem(40);
    padding-left: $gutter-desktop;
  }

}

// image layout
.align-left {
  float: left;
  margin: 0 10px 28px 0;

  @include mq($tablet) {
    margin: 0 20px 32px 0;
  }

}

.align-right {
  float: right;
  margin: 0 0 28px 10px;

  @include mq($tablet) {
    margin: 0 0 32px 20px;
  }

}
