#container,
#container1 {
  background-image: none !important;  //override background of sidebar
}

#content-main {

  .content-rightcol {

    @include mq($tablet) {
      display: flex;

      @supports (display: grid) {
        display: grid;
        grid-auto-columns: 1fr 220px;
      }
    }

  }

  .content-column {

    @include mq($tablet) {
      width: auto;

      @supports (display: grid) {
        grid-column: 1;
      }

    }

    &#main-content {
      padding: 0 $gutter-mobile;

      @include mq($tablet) {
        padding: 0 $gutter-desktop;
      }
    }

  }

  .related-column {
    background: $white-smoke;

    @include mq($tablet) {

      @supports (display: grid) {
        grid-column: 2;
        width: auto;
      }

    }

  }

  .intro {
    margin: rem(20) 0;
  }

}//#content-main
