// base general typography

#content-main {
  color: $nero;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $sans-serif;

  a {
    cursor: pointer;
    color: $denim;
    text-decoration: underline;

    @include hover {
      color: $prussian-blue;
      text-decoration: underline;
    }

  }

  button {
    cursor: default;

    &:focus {
      outline: 2px dotted #c30000;
    }

  }

  // reusable extends for headers
  %header-caps {
    margin: 0 0 rem(24);
    padding: 0;
    font-family: $sans-serif;
    text-transform: uppercase;
    color: $nero;
    @include font(14);
    line-height: 1;
    font-weight: bold;

    @include mq($tablet) {
      @include font(16);
    }

  }

  %h1-large {
    margin: 0 0 rem(20);
    @include font(30);

    span {
      @include font(20);
    }

    @include mq($tablet) {
      margin-top: rem(-10);
      margin-bottom: rem(30);
      @include font(50);

      span {
        @include font(36);
      }

    }
  }

  h1 {
    color: $nero;
    @include font(30);
    letter-spacing: -0.015em;
    line-height: 1.2;

    span {
      display: block;
      color: $empress;
      @include font(36);
    }

    @include mq($tablet) {
      margin-top: rem(-8);
      @include font(36);

      span {
        @include font(26);
      }

    }

    .level-1 & {
      @extend %h1-large;
    }

    .patients & {

      span {
        color: $pale-oyster;
      }

    }//.patients &

  }//h1

  h2 {
    margin-top: rem(30);
    @include font(24, 28);

    @include mq($tablet) {
      margin-top: rem(36);
      @include font(28, 32);
    }

    @include mq($desktop) {
      margin-top: rem(42);
      @include font(32, 36);
    }

  }//h2


  h3 {
    margin: rem(24) 0 rem(8);
    @include font(18, 24);

    @include mq($tablet) {
      margin: rem(30) 0 rem(15);
      @include font(22, 30);
    }

  }//h3

  h4 {
    font-weight: bold;
    margin: rem(16) 0 rem(8);
    @include font(18, 24);

    @include mq($tablet) {
      margin: rem(30) 0 rem(15);
      @include font(21);
    }

    @include mq($desktop) {
      @include font(24);
    }

  }//h4

  h5,
  h6 {
    font-weight: bold;
    margin: rem(16) 0 rem(8);
    @include font(14, 20);

    @include mq($tablet) {
      margin: rem(30) 0 rem(15);
      @include font(20, 28);
    }

  }//h4

  p,
  %p,
  ul,
  ol,
  li {
    @include margin(rem(24) null);
    padding: 0;
    @include font(15, 24);

    @include mq($tablet) {
      @include margin(rem(28) null);
      @include font(16, 28);
    }

    &:first-of-type,
    &:first-child {
      margin-top: 0 !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }

  }//p

  li {
    @include margin(rem(12) null);
    padding-bottom: 0 !important;

    @include mq($tablet) {
      @include margin(rem(16) null);
    }

  }//li

  ul,
  ol {

    li {

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  strong {
    font-weight: bold;
  }//strong

  blockquote {
    position: relative;
    padding: 0 cols(2) 0 cols(2);
    margin: rem(20) 0;
    @include font(18, 24);
    font-style: italic;

    @include mq($tablet) {
      @include font(30, 36);
      margin: rem(20) 0 rem(36);
    }

    @include mq($desktop) {
      @include font(36, 43);
      margin: rem(40) 0 rem(46);
    }

    p {
      @include font(18, 24);

      @include mq($tablet) {
        @include font(30, 36);
      }

    }//p

  }//blockquote

}//#content-main

/////////overrides//////////////

#tier4innerContent {

  li {
    margin-left: 0;
  }

  .content-column {

    li {
      line-height: 1.6 !important;

      @include mq($tablet) {
        line-height: 1.75 !important;
      }

    }//li

  }//.content-column

  .related-column {

    li {
      line-height: 1.5 !important;
    }

  }//.content-column

}//#tier4innerContent
