.byline {
  @extend %p;
  color: $nero;
  font-weight: normal;
  font-style: normal;

  p {
    color: $nero;
    font-style: normal;
  }

}//.byline

.bylinedate {
  font-style: italic !important;
}

// hide .bylinedocsource
.bylinedocsource {
  display: none;
}
