.byline {
  @extend %p;
  color: $nero;
  font-weight: normal;
  font-style: normal;

  .bylinedocsource {
    display: block;
    font-weight: bold;
  }

  p {
    color: $nero;
    font-style: normal;
  }

}//.byline

.bylinedate {
  font-style: italic;
}

// hide .bylinedocsource
.bylinedocsource {
  display: none;
}
