.related-column {

  .widget {
    margin-bottom: rem(20);
    padding: 0;
    float: none;
    min-width: auto;
    border: 0;
    background: none;

    @include mq($tablet) {
      margin-bottom: rem(40);
    }

    ~ .widget {
      @include spacing;
    }

    // base inside of #content-main
    #content-main & {

      .widget-title {
        padding: 0;
      }

      h3,
      h4 {
        @extend %header-caps;
        @include font(14);
        text-align: left;
        margin-bottom: rem(14);
      }

      ul {

        li {
          float: none !important;
        }

      }//ul


    }//#content-main

  }//.widget

}//related-column

.prboxcontent {
  padding: 0;
  @include font(15, 24);

  @include mq($tablet) {
    min-width: 200px;
    @include font(16, 28);
  }
}
